extends ./layout/common.pug
block content
  h1.text-center ToDoList
  form(action='/todos', method='POST')
    .container
      .form-group
        label(for='task') Search:
        input.form-control(type='text', name='name')
      button.btn.btn-primary(type='submit') Search

  ul.mt-4
    each task in list
      li= task