extends ./layout/common.pug
block content
  h1.text-center ToDoList
  a.pl-3(href='/todos/create') New task
  form(action='/todos', method='GET')
    include _form_name_field.pug
  ul.mt-4
    each task in list
      li= task